body {
   color: rgb(118, 50, 158);
   background: rgb(241, 230, 236);
   margin: 0px;
   font-family: "Chakra Petch", sans-serif;
   margin-bottom: 100px;
}

header {
   border-bottom: solid 2px rgb(139, 10, 60);
   padding: 20px;
   font-size: 32px;
   color: rgb(140, 111, 219);
}

.chamada {
   background: rgb(173, 133, 216);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto {
   margin-right: 5%;
}

h1 {
   font-size: 40px;
}

p {
   font-size: 20px;
}

.categoria-videos {
   display: flex;
   overflow-x: auto;
   gap: 10px;
}

.categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
}

.categoria-videos img {
   opacity: 0.5;
   height: 200px;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 3px solid green;
}

.categoria h2 {
   color: rgb(187, 115, 209);
}